
<div class="grid gap-4">
@defer () {
  <p-card>
    <h1 class="mb-1 text-xl font-medium theme-text">Secret</h1>
    <p class="m-0 text-sm"><code [cdkCopyToClipboard]="secrets?.secret!" pTooltip="Click to copy">{{ secrets?.secret }}</code></p>
  </p-card>

  <div class="grid md:grid-cols-2 gap-4">
    <p-card>
      <div class="flex justify-between items-center">
        <h1 class="mb-1 text-xl font-medium theme-text">Key.pem</h1>
        <p-button (click)="download(secrets?.key_pem!, 'key.pem')" text icon="pi pi-download"/>
      </div>
      <p class="m-0 break-all line-clamp-3 text-xs"><code [cdkCopyToClipboard]="secrets?.key_pem!" pTooltip="Click to copy" class="whitespace-pre-line">{{ secrets?.key_pem }}</code></p>
    </p-card>

    <p-card>
      <div class="flex justify-between items-center">
        <h1 class="mb-1 text-xl font-medium theme-text">Crt.pem</h1>
        @if (secrets?.crt_pem) { <p-button (click)="download(secrets?.crt_pem!, 'crt.pem')" text icon="pi pi-download"/> }
      </div>
      @if (secrets?.crt_pem) {
        <p class="m-0 break-all line-clamp-3 text-xs"><code [cdkCopyToClipboard]="secrets?.crt_pem!" pTooltip="Click to copy" class="whitespace-pre-line">{{ secrets?.crt_pem }}</code></p>
      } @else {
        No certificate.
      }
    </p-card>
  </div>
} @placeholder (minimum 0.4s) {
  <p-skeleton height="4rem"></p-skeleton>

  <div class="grid grid-cols-2 gap-4">
    <p-skeleton height="6rem"></p-skeleton>
    <p-skeleton height="6rem"></p-skeleton>
  </div>
}
</div>